<% include ../partials/headers/profile %>

<p>Check out how much carbon is put into the atmosphere with your latest trip.
   Try to come up with lower impact methods to reduce your footprint!
</p>


<canvas id="myChart" width="400" height="400"></canvas>






<script> var dataChart = <%= carbonFootprintForDistanceTraveled %>; </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
