<h1>New log info</h1>

<a href="/auth/signup">Signup</a>
<a href="/auth/login">Login</a>
<a href="/auth/logout">Logout</a>
<a href="/profile">Profile</a>



<form action = '/dailylog/new' method = 'POST'>

  <label>Select your vehicle<label>


    <select name="vehicles">
      <% vehicles.forEach(function(vehicle) { %>
      <option value="<%= vehicle.id %>"><%= vehicle.model  %><%=  vehicle.id %></option>
      <% }); %>
    </select>
  <label>Enter distance traveled in miles<label>
  <input type='text' name='distance'>
  <input type='submit' value='submit'>


</form>
