<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo left">Carbon Car Tracker</a>
    <ul id="nav-mobile" class="right">
      <li><a href="/auth/login">Log In</a></li>
      <li><a href="/auth/logout">Log Out</a></li>
      <li><a href="/auth/signup">Sign Up</a></li>
      <li><a href="/dailylog/">Log a Trip</a></li>
      <li><a href="/profile/">Carbon Profile</a></li>
      <li><a href="/carinfo/">Vehicles</a></li>
    </ul>
  </div>
</nav>
