
  <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="/auth/login" class="brand-logo left">Log In</a>
      <ul class="right">
        <li><a href="/">Home</a></li>
        <li><a href="/auth/signup">Sign Up</a></li>
      </ul>
    </div>
  </nav>
