<h1>New Car info</h1>
<a href="/auth/signup">Signup</a>
<a href="/auth/login">Login</a>
<a href="/auth/logout">Logout</a>
<a href="/profile">Profile</a>

<form action = '/carinfo/new' method = 'POST'>
  <label>Make<label>
  <input type='text' name='make'>
  <label>Model<label>
  <input type='text' name='model'>
  <label>Year<label>
  <input type='text' name='year'>
  <input type='submit' value='submit'>
</form>
