
  <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="/auth/signup" class="brand-logo left">Sign Up</a>
      <ul class="right">
        <li><a href="/login"></a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/auth/login">Log in</a></li>
      </ul>
    </div>
  </nav>
