



<div class="parallax-container">
  <div class="parallax"><img src="image/traffic.jpeg"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Carbon Car Tracker</h2>
    <p class="grey-text text-darken-3 lighten-3">Carbon Car Tracker is a data visualization tool that shows how much carbon you are putting into the atmosphere on every car trip. By realizing your impact, you can take steps to further reduce your carbon footprint</p>
    <a class="waves-effect waves-light btn" href='/auth/login'>Log In</a>
    <a class="waves-effect waves-light btn" href='/auth/signup'>Sign In</a>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="image/iceberg.jpeg"></div>
</div>
