<h1>New Car info</h1>


<form action = '/carinfo/new' method = 'POST'>
  <label>Make<label>
  <input type='text' name='make'>
  <label>Model<label>
  <input type='text' name='model'>
  <label>Year<label>
  <input type='text' name='year'>
  <input type='submit' value='submit'>
</form>
